
@{

    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    // ESTABLECEMOS EL TITULO DEL CONTENIDO PRINCIPAL
    ViewBag.Title = "Lista de Vuelos";
    // TEXTO ADICIONAL DEL TITULO (MENOR TAMAÑO)


    //Relación ubicacion (TEXTO - ? -ICONO)
}
<div class="form-group">
    <label>Fecha:</label>

    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" id="reservation">
    </div>
    <!-- /.input group -->
</div>


