
<div class="btn-group">


    <button type="button" class="btn btn-default" title="Consulta de Boletos" id="consulta_boletos"><i class="fa fa-search"></i></button>
    <a href="@Url.Action("ReportesDeVenta", "Ventas")" class="btn btn-default"><i class="fa fa-archive"></i></a>
    
    <button type="button" class="btn btn-default" title="Registro de Vuelos"><i class="fa fa-edit"></i></button>
    <button type="button" class="btn btn-default" title="Lista de Vuelos"><i class="fa fa-list-alt"></i></button>
</div>