@{
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    // ESTABLECEMOS EL TITULO DEL CONTENIDO PRINCIPAL
    ViewBag.Title = "PRINCIPAL";
    // TEXTO ADICIONAL DEL TITULO (MENOR TAMAÑO)

    //Relación ubicacion (TEXTO - ? -ICONO)

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
new Crumb("Principal","","fa-home")
});
}
<div ng-view class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                @Html.Partial("_Menu")
            </div>
            
        </div>
    </div>
</div>




