@{

    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
    // ESTABLECEMOS EL TITULO DEL CONTENIDO PRINCIPAL
    ViewBag.Title = "MAIN";
    // TEXTO ADICIONAL DEL TITULO (MENOR TAMAÑO)


    //Relación ubicacion (TEXTO - ? -ICONO)

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
new Crumb("Principal","","fa-home")
});
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header with-border">
                titulo
            </div>
            <div class="box-body">


                MSJ TEST


            </div>

            <div id="footerDetalle" class="box-footer">
                @{

                }
            </div>

        </div>
    </div>
</div>

