
    @using (Html.BeginForm("Busqueda", "Ventas", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
<div class="form-group">
    <label for="reporte">Reporte</label>
    <input type="text" id="reporte" name="reporte" class="form-control" placeholder="000000">
    
</div>
        <div class="form-group">
            <label for="mask_contable">Contable</label>
            <input type="text" id="mask_contable" name="mask_contable" class="form-control">
        </div>
        <div class="form-group">
            <label for="fecrep">Fec.Rep.</label>
            <input type="text" class="form-control pull-right" id="fecrep" name="fecrep" placeholder="ELIJA RANGO DE FECHAS">
        </div>
        <div class="form-group">
            <label for="s_tipoventa">T.Venta</label>
            <select id="s_tipoventa" class="form-control">
                <option value="T" selected>TODOS</option>
            </select>
        </div>
        <div class="form-group">
            <label for="loc">Loc</label>
            <input type="text" id="loc" class="form-control" placeholder="Loc" />
        </div>

        <div class="form-group ">
            <label for="codagente">Agente</label>
            <div class="input-group">
                <input type="text" id="mask_agente" name="numagente" class="form-control" placeholder="0000000">
                @*<input type="text" id="codagente" name="numagente" class="form-control" placeholder="Agente">*@
                <span title="Abre la pantalla de busqueda de Agentes " class="btn input-group-addon"><i class="fa fa-eye"></i></span>
            </div>
        </div>
        <div class="form-group">

            <input type="text" id="res_tagente" class="form-control" placeholder="" disabled>
        </div>
        <div class="form-group">
            <label for="s_tipoagente">T.Agente</label>
            <select class="form-control" id="s_tipoagente">
                <option value="T" selected>TODOS</option>
            </select>
        </div>
        <div class="form-group">
            <label for="s_estadorv">Estado</label>
            <select class="form-control" id="s_estadorv">
                <option value="T" selected>TODOS</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="BUSCAR" class="btn btn-success" />
        </div>


    }







