<div class="row">
    <div class="col-lg-1">
        <input type="text" class="form-control" placeholder="000000">
    </div>
    <div class="col-lg-2">
        <input type="text" id="mask_contable" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control pull-right" id="fecrep">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control pull-right" id="tipoventa">
    </div>
</div>


