<div class="row">
    <div class="col-lg-2">
        <input type="text" class="form-control" placeholder="000000">
    </div>
    <div class="col-lg-2">
        <input type="text" class="form-control" placeholder=".col-xs-4">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control pull-right" id="fecrep">
    </div>
    <div class="col-xs-2">
        <input type="text" class="form-control pull-right" id="tipoventa">
    </div>
</div>


